<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Pos Java EAD - Desenvolvimento de Aplicacoes WEB - The Master CRUD App</display-name>

<!-- DASHBOARD MAPPING-->
  <servlet>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.dashboard.DashboardController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>dashboard</welcome-file>
  </welcome-file-list>
<!-- FIM DASHBOARD MAPPING-->

<!--  PRODUTO MAPPING-->
  <servlet>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.produto.ProdutoController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaProdutoController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.produto.ListaProdutoController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ExcluirProdutoController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.produto.ExcluirProdutoController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/produto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaProdutoController</servlet-name>
    <url-pattern>/listarprodutos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ExcluirProdutoController</servlet-name>
    <url-pattern>/excluirproduto</url-pattern>
  </servlet-mapping>

  <!-- FIM PRODUTO MAPPING-->

  <!--  PESSOA MAPPING-->
  <servlet>
    <servlet-name>PessoaController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.pessoa.PessoaController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ListaPessoaController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.pessoa.ListaPessoaController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ExcluirPessoaController</servlet-name>
    <servlet-class>br.edu.unoesc.controller.pessoa.ExcluirPessoaController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PessoaController</servlet-name>
    <url-pattern>/pessoa</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListaPessoaController</servlet-name>
    <url-pattern>/listarpessoas</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ExcluirPessoaController</servlet-name>
    <url-pattern>/excluirpessoa</url-pattern>
  </servlet-mapping>

  <!-- FIM PESSOA MAPPING-->


</web-app>
